body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

header {
    background: #0abe0a;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 0;
    flex: 1;
    text-align: center; 
}

header .header-left {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

header .header-right {
    display: flex;
    gap: 10px;
    margin-right: 140px; 
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

nav {
    background: #0abe0a;
    padding: 10px;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
    list-style: none;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

form,
table {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    background: #efefef;
    box-sizing: border-box;
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 150%;
}

table {
    max-width: 1000px;
}

table form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form select,
form button {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

.shopping span {
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 85px;
    left: 50%;
    padding: 3px 10px;
}
